@page "/transportadoras/create"
@using Microsoft.EntityFrameworkCore
@using QueVistoHoje.GestaoDeLoja.Data.Entities
@inject IDbContextFactory<QueVistoHoje.GestaoDeLoja.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Transportadora</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Transportadora" OnValidSubmit="AddTransportadora" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label> 
                <InputText id="nome" @bind-Value="Transportadora.Nome" class="form-control" /> 
                <ValidationMessage For="() => Transportadora.Nome" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="imagem" class="form-label">Imagem:</label> 
                <InputText id="imagem" @bind-Value="Transportadora.Imagem" class="form-control" /> 
                <ValidationMessage For="() => Transportadora.Imagem" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/transportadoras">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Transportadora Transportadora { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTransportadora()
    {
        using var context = DbFactory.CreateDbContext();
        context.Transportadoras.Add(Transportadora);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/transportadoras");
    }
}
