@page "/transportadoras/details"
@using Microsoft.EntityFrameworkCore
@using QueVistoHoje.GestaoDeLoja.Data.Entities
@inject IDbContextFactory<QueVistoHoje.GestaoDeLoja.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Transportadora</h2>
    <hr />
    @if (transportadora is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@transportadora.Nome</dd>
            <dt class="col-sm-2">Imagem</dt>
            <dd class="col-sm-10">@transportadora.Imagem</dd>
        </dl>
        <div>
            <a href="@($"/transportadoras/edit?id={transportadora.Id}")">Edit</a> |
            <a href="@($"/transportadoras")">Back to List</a>
        </div>
    }
</div>

@code {
    private Transportadora? transportadora;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        transportadora = await context.Transportadoras.FirstOrDefaultAsync(m => m.Id == Id);

        if (transportadora is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
