@page "/transportadoras/edit"
@using Microsoft.EntityFrameworkCore
@using QueVistoHoje.GestaoDeLoja.Data.Entities
@inject IDbContextFactory<QueVistoHoje.GestaoDeLoja.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Transportadora</h2>
<hr />
@if (Transportadora is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Transportadora" OnValidSubmit="UpdateTransportadora" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Transportadora.Id" value="@Transportadora.Id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Transportadora.Nome" class="form-control" />
                    <ValidationMessage For="() => Transportadora.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem:</label>
                    <InputText id="imagem" @bind-Value="Transportadora.Imagem" class="form-control" />
                    <ValidationMessage For="() => Transportadora.Imagem" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/transportadoras">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Transportadora? Transportadora { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Transportadora ??= await context.Transportadoras.FirstOrDefaultAsync(m => m.Id == Id);

        if (Transportadora is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTransportadora()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Transportadora!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TransportadoraExists(Transportadora!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/transportadoras");
    }

    private bool TransportadoraExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Transportadoras.Any(e => e.Id == id);
    }
}
