@page "/transportadoras"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using QueVistoHoje.GestaoDeLoja.Data.Entities
@using QueVistoHoje.GestaoDeLoja.Data
@implements IAsyncDisposable
@inject IDbContextFactory<QueVistoHoje.GestaoDeLoja.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="transportadoras/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Transportadoras">
    <PropertyColumn Property="transportadora => transportadora.Nome" />
    <TemplateColumn title="Imagem" Context="transportadora">
        <img src="@transportadora.Imagem"
             alt="Imagem do Produto"
             style="max-width: 50px; max-height: 50px;"
             onerror="this.src='https://th.bing.com/th/id/R.46c32d2f457c911236422a6fce18575d?rik=1WWfIiIAxif%2fDA&pid=ImgRaw&r=0';" />
    </TemplateColumn>

    <TemplateColumn Context="transportadora">
        <a href="@($"transportadoras/edit?id={transportadora.Id}")">Edit</a> |
        <a href="@($"transportadoras/details?id={transportadora.Id}")">Details</a> |
        <a href="@($"transportadoras/delete?id={transportadora.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
